.mainContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.logoContainer {
color: blue;
}
.searchContainer {
color: blueviolet;
}
.restButtonsContainer{
color: brown;
}